/** Styles **/

button {
    display: block;
    height: 50px;
    width: 200px;
    margin-top: 20px;
}

/* Tag */
body.day {
    background-color: white;
}

h1.day {
    color: black;
}

p.day {
    color: black;
}



/* Night */
body.night {
    background-color: black;
}

h1.night {
    color: white;
}

p.night {
    color: white;
}
